<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Project</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <form action="/searchBook" method="post">
        <input type="text" placeholder="Enter a book title" name="title" autocomplete="on">
        <button type="submit">Enter</button>
        <p></p> <%# Spacing %>
    </form>

    <form action="/sort" method="post">
        <button name="sortAlphabetical" value="<%= sort === 'ASC' ? 'DESC' : 'ASC' %>" type="submit">Sort by Alphabetical</button>
        <button name="sortRecent" value="<%= sort === 'ASC' ? 'DESC' : 'ASC' %>" type="submit">Sort by Recency</button>
        <button name="sortRating" value="<%= sort === 'ASC' ? 'DESC' : 'ASC' %>" type="submit">Sort by Ratings</button>
    </form>

    <div class="book-container">
        <%  book.forEach(b => { %>

        <img src="<%=b.img_url%>" alt="Book Image" style="width: 200px; height: 300px; object-fit: cover;">
        
        <p> <%= b.title %> </p>

        <p> <%= b.author %> </p>

        <p> <%= b.publish_year %> </p>

        <p> <%= b.isbn %> </p>

        <p id="textId<%= b.id %>"> <%= b.edit_text %> </p>
        <p id="starId<%= b.id %>">Rating: <%= b.rating %> </p>
        
        <button id="editId<%= b.id %>" onclick="edit('<%= b.id %>')">Edit</button>
        
        <form action="/editContent" method="post">
            <input type="hidden" name="editId" value=<%= b.book_id %>>
            <textarea id="inputId<%= b.id %>" name="inputText" hidden><%=b.edit_text%></textarea>
            <p></p> <%# Spacing %>

            <div id="starEditId<%= b.id %>" hidden>
                <input type="radio" name="star" value=1 required>
                <label for="one">One</label>
    
                <input type="radio" name="star" value=2 required>
                <label for="two">Two</label>
    
                <input type="radio" name="star" value=3 required>
                <label for="three">Three</label>
    
                <input type="radio" name="star" value=4 required>
                <label for="four">Four</label>
    
                <input type="radio" name="star" value=5 required>
                <label for="five">Five</label>
            </div>
            <p></p> <%# Spacing %>

            <button id="saveId<%= b.id %>" type="submit" hidden>Save</button>
        </form>

        <form action="/deleteBook" method="post">
            <button type="submit" name="delete" value=<%=b.book_id%>>Delete</button>
        </form>

        <% }) %>
    </div>

    <script>
        function edit(id) {
            document.querySelector("#textId"+id).setAttribute("hidden", true);
            document.querySelector("#editId"+id).setAttribute("hidden", true);
            document.querySelector("#starId"+id).setAttribute("hidden", true);

            document.querySelector("#saveId"+id).removeAttribute("hidden");
            document.querySelector("#inputId"+id).removeAttribute("hidden");
            document.querySelector("#starEditId"+id).removeAttribute("hidden");
        }

    </script>

</body>
</html>