<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Project</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>

    <div class="header">
        <div class="header-left">
            <a href="" class="logo">Book Web App</a>
        </div>

        <div class="header-right">
            <a href="" class="active">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </div>

    <div class="main-container">

        <h1>Discover</h1>

        <form action="/searchBook" method="post">
            <div class="form-book">
                <input type="text" placeholder="Enter a book title" name="title" autocomplete="on" class="search-book">
                <button type="submit" class="submit-book">
                        <img src="/images/add.svg" alt="search icon"> <p>Add Book</p>
                </button>
            </div>
        </form>

        <div class="sort-container">
                <h2>Book Reviews</h2>

            <div class="dropdown-container">
                <button class="dropdownbtn" onclick="dropdown()">Sort by</button>

                <div class="dropdown" id="myDropdown">
                    <form action="/sort" method="post">
                        <button name="sortAlphabetical" value="<%= sort === 'ASC' ? 'DESC' : 'ASC' %>" type="submit">Sort by Alphabetical</button>
                        <button name="sortRecent" value="<%= sort === 'ASC' ? 'DESC' : 'ASC' %>" type="submit">Sort by Recency</button>
                            <button name="sortRating" value="<%= sort === 'ASC' ? 'DESC' : 'ASC' %>" type="submit">Sort by Ratings</button>
                    </form>  
                </div>
            </div>
        </div>
        
        <div class="book-container">

            <%  book.forEach(b => { %>

            <div class="book-item">

            <img class="book-cover" src="<%=b.img_url%>" alt="Book Image">
            
            <h3 class="book-title"> <%= b.title %> </h3>

            <h4 class="book-author"> <%= b.author %> </h4>

            <h5 class="book-year-isbn">Publication year: <%= b.publish_year %> | ISBN: <%= b.isbn %> </h5>

            <p id="textId<%= b.id %>"> <%= b.edit_text %> </p>
            <p class="p-rating" id="starId<%= b.id %>"> <%= b.rating %> </p>
            
            <div class="actions-container">
                <button class="dropdownbtn" onclick="dropdown2('<%= b.id %>')">More Actions</button>

                <div class="dropdown2" id="myDropdown2<%= b.id %>">
                    <button id="editId<%= b.id %>" onclick="edit('<%= b.id %>')">Edit</button>
                    <form action="/editContent" method="post">
                        <input type="hidden" name="editId" value=<%= b.book_id %>>
                        <textarea id="inputId<%= b.id %>" name="inputText" hidden><%=b.edit_text%></textarea>
    
                        <div id="starEditId<%= b.id %>" class="star-rating" hidden>
                            <p class="rating-text">Rating</p>

                            <input type="radio" id="five<%= b.id %>" name="star" value=5>
                            <label for="five<%= b.id %>"></label>

                            <input type="radio" id="four<%= b.id %>" name="star" value=4>
                            <label for="four<%= b.id %>"></label>

                            <input type="radio" id="three<%= b.id %>" name="star" value=3>
                            <label for="three<%= b.id %>"></label>

                            <input type="radio" id="two<%= b.id %>" name="star" value=2>
                            <label for="two<%= b.id %>"></label>

                            <input type="radio" id="one<%= b.id %>" name="star" value=1>
                            <label for="one<%= b.id %>"></label>
                        </div>
    
                        <button id="saveId<%= b.id %>" type="submit" hidden>Save</button>
                    </form>
    
                    <button class="delete-button" onclick="document.getElementById('modalId<%= b.id %>').style.display='block'" id="deleteId<%= b.id %>" >Delete</button>

                    <button class="cancel-button" value="Cancel" onclick="cancel('<%= b.id %>')" id="cancel">Cancel</button>
                </div>

            </div>

                <div id="modalId<%= b.id %>" class="modal">
                    <span onclick="document.getElementById('modalId<%= b.id %>').style.display='none'" class="close" title="Close Modal">×</span>

                    <form class="modal-content" action="/deleteBook" method="post">
                        <div class="container">
                          <h2>Delete Book</h2>
                          <h3>Are you sure you want to delete "<%= b.title %>"?</h3>
                        
                          <div class="clearfix">
                            <button type="button" onclick="document.getElementById('modalId<%= b.id %>').style.display='none'" class="cancelbtn">Cancel</button>
                            <button class="deletebtn" type="submit" id="deleteId<%= b.id %>" name="delete" value=<%=b.book_id%>>Delete</button>
                          </div>
                        </div>
                      </form>
                </div>

            </div>
            <% }) %>

        </div>
    </div>
    
    <footer>
        © 2024 Book Web App
    </footer>

    <script>


        function dropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function dropdown2(id) {
            document.getElementById("myDropdown2"+id).classList.toggle("show");
        }

        function edit(id) {
            document.querySelector("#editId"+id).setAttribute("hidden", true);
            document.querySelector("#deleteId"+id).setAttribute("hidden", true);

            document.querySelector("#saveId"+id).removeAttribute("hidden");
            document.querySelector("#inputId"+id).removeAttribute("hidden");
            document.querySelector("#starEditId"+id).removeAttribute("hidden");
        }

        function cancel(id) {
            document.getElementById("myDropdown2"+id).classList.remove("show");
        }

    </script>

</body>
</html>